@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css2?family=Italiana&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap);

@font-face {
  font-family: 'Brittany';
  src: local('Brittany Signature'), url('/fonts/BrittanySignature.woff') format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
                              font-display: swap;
}


@font-face {
  font-family: 'Seasons';
  src: local('Seasons'), url('/fonts/Fontspring-DEMO-theseasons-reg.woff') format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
                             font-display: swap;

}



.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}